#profile {

  &-role, &-address {
    text-transform: capitalize;
    text-align: center;
  }

  &-role {
    font-size: 2rem;
  }

  &-address {
    font-size: 1.3rem;
  }
  
}

@media screen and (min-width: 700px) {
  #profile {
 
    &-role {
      font-size: 3rem;
    }
  
    &-address {
      font-size: 2rem;
    }
    
  }
}