#profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  background-color: orange;
  border: 5px dotted black;
}

#profile-role {
  text-align: center;
}

#profile-address {
  text-align: center;
}