@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.logo {
  width: 50px;
  height: 50px;
}

// Level Skill

.level {
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-bar {
    width: 15px;
    background-color: $gray-600;
    border: 3px solid $gray-700;
  }

  & &-bar:nth-child(1) {
    height: 13px;
  }

  & &-bar:nth-child(2) {
    height: 23px;
  }

  & &-bar:nth-child(3) {
    height: 33px;
  }

  & &-bar:nth-child(4) {
    height: 43px;
  }

  & &-bar:nth-child(5) {
    height: 50px;
  }

  &.noob &-bar:nth-child(1) {
    background-color: $teal-500;
  }

  &.beginner {
    .level-bar {
      &:nth-child(1), &:nth-child(2) {
        background-color: $teal-500;
      }
    }
  }

  &.intermediate {
    .level-bar {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        background-color: $teal-500;
      }
    }
  }

  &.advanced {
    .level-bar {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        background-color: $teal-500;
      }
    }
  }

  &.pro {
    .level-bar {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        background-color: $teal-500;
      }
    }
  }


}

@media screen and (min-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
  }
}