#menu-container .logo-small {
  display: block;
  width: 40px;
  height: 40px;
}

#menu-container #navbarToggleExternalContent {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #9ec5fe;
  z-index: 3;
  background-image: url("../../assets/img/logo-light.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#menu-container #navbarToggleExternalContent #portfolio-brand {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
}

#menu-container #navbarToggleExternalContent #portfolio-brand a {
  display: block;
  text-decoration: none;
}

#menu-container #navbarToggleExternalContent #portfolio-brand .navbar-brand {
  display: block;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

#menu-container #navbarToggleExternalContent #menu-buttons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu-container #navbarToggleExternalContent #menu-buttons .nav-link {
  width: 150px;
  margin-bottom: 40px;
}

#menu-container #navbarToggleExternalContent #menu-buttons .nav-link:nth-child(5) {
  margin-bottom: 0px;
}

#menu-container .navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
}

#menu-container .navbar-toggler {
  background-color: #8c68cd;
}

#menu-container .navbar-toggler[aria-expanded="true"] {
  background-color: #59359a;
}

@media screen and (min-width: 576px) {
  #menu-container #navbarToggleExternalContent {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 1400px;
    padding: 20px 0px 0px 0px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-image: none;
  }
  #menu-container #navbarToggleExternalContent.menu-fixed {
    position: fixed !important;
  }
  #menu-container #navbarToggleExternalContent #menu-buttons .nav {
    width: 100%;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #menu-container #navbarToggleExternalContent #menu-buttons .nav-link {
    width: 100px;
    height: 50px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px 15px 0px 0px;
  }
  #menu-container #navbarToggleExternalContent #menu-buttons .nav-link:nth-child(5) {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=Menu.css.map */