<form [formGroup]="contactForm" (ngSubmit)="handleSubmit()" class="rounded dark:bg-slate-900 bg-slate-200 drop-shadow-md min-w-[300px] w-[50vw] px-4 my-8 border-2 border-indigo-900 dark:border-slate-300 dark:text-slate-300 text-black" name="contactForm">
  <h2 class="p-2 font-serif text-2xl font-semibold text-center">Contact Form</h2>
  <fieldset class="form__field">
    <input type='text' formControlName='name' name="name" placeholder=" " class="border-indigo-900 form__input dark:border-slate-300" autocomplete="off" required maxlength="50">
    <label class="form__label">Name<span class="text-red-600">*</span></label>
  </fieldset>
  <fieldset class="form__field">
    <input type='email' formControlName='email' name="email" id='email' placeholder=" " class="border-indigo-900 form__input dark:border-slate-300" autocomplete="off" required maxlength="50">
    <label class="form__label">Email<span class="text-red-600">*</span></label>
  </fieldset>
  <fieldset class="form__field">
    <input type='text' formControlName='subject' name="subject" id='subject' placeholder=" " class="border-indigo-900 form__input dark:border-slate-300" autocomplete="off" maxlength="50">
    <label class="form__label">Subject</label>
  </fieldset>
  <fieldset class="form__field">
    <textarea formControlName="message" name="message" id="message" placeholder=" " class="form__input  border-indigo-900 dark:border-slate-300 min-h-[120px]" required maxlength="200"></textarea>
    <label class="form__label">Message<span class="text-red-600">*</span></label>
  </fieldset>
  <button [disabled]="contactForm.invalid" class="block px-4 py-2 mx-auto font-sans text-white bg-teal-500 rounded-lg drop-shadow-md disabled:bg-slate-300 disabled:text-slate-200" type="submit">Send</button>
  <p class="mt-3 mb-1 text-sm text-right">(<span class="text-red-600">*</span>) input required</p>
</form>