@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

#intro-container {
  background-color: $purple-700;
  height: 100vh;
  min-height: 500px;
  max-height: 568px;
}

@media screen and (min-width: 700px) {
  #intro-container {
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
  }
}