<div id="carousel" class="flex items-center justify-center w-[320px] my-4 text-white md:hidden">
  <button class="text-teal-500 rounded-full w-14 h-14 disabled:text-slate-600" (click)="previousCard()" [disabled]="carrouselIndex === 0">
    <fa-icon [icon]="caretLeft" class="text-4xl"></fa-icon>
  </button>
  <a id="mainCard" [href]="projects[carrouselIndex].page" target="_blank" rel="noopener noreferrer" class="bg-orange-400 flex-1 aspect-[2/3] flex flex-col rounded-2xl overflow-hidden drop-shadow-lg">
    <h3 id="mainCardTitle" class="flex items-center justify-center order-last text-center capitalize h-1/5">{{ projects[carrouselIndex].title }}</h3>
    <img id="mainCardBody" [src]="projects[carrouselIndex].path" [alt]="projects[carrouselIndex].alt" class="flex items-center justify-center rounded-b-lg h-4/5">
  </a>
  <button class="text-teal-500 rounded-full w-14 h-14 disabled:text-slate-600" (click)="nextCard()" [disabled]="carrouselIndex === totalProjects - 1">
    <fa-icon [icon]="caretRight" class="text-4xl"></fa-icon>
  </button>
</div>
<div class="hidden md:grid md:grid-cols-2 md:w-screen md:max-w-[1800px] xl:grid-cols-3">
  <div *ngFor="let project of projects" class="flex items-center justify-center aspect-square">
    <a [href]="project.page" target="_blank" rel="noopener noreferrer" class="w-1/2 aspect-[2/3] flex flex-col rounded-2xl overflow-hidden drop-shadow-lg md:hover:outline md:hover:outline-4 md:hover:outline-offset-8 md:hover:outline-teal-400 bg-orange-400 text-white">
      <h3 class="flex items-center justify-center text-center capitalize h-1/5 md:h-[15%] text-sm">{{ project.title }}</h3>
      <img id="mainCardBody" [src]="project.path" [alt]="project.alt" class="flex items-center justify-center rounded-lg h-4/5 md:h-[85%]">
    </a>
  </div>
</div>
