<ul class="flex text-4xl md:text-3xl xl:text-2xl justify-evenly">
  <li><a class="social__button" href="https://github.com/gabit690" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="github" class="text-black dark:text-slate-300"></fa-icon></a></li>
  <li><a class="social__button" href="https://twitter.com/Gabit90" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="twitter" class="text-sky-500 dark:text-slate-300"></fa-icon></a></li>
  <li><a class="social__button" href="https://linkedin.com/in/jg-valeriano" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="linkedin" class="text-blue-700 dark:text-slate-300"></fa-icon></a></li>
</ul>
